body{
    margin: 0;
    padding:0;
    background: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap; 
}

p{
    font-family: monospace;
    font-size:15px;
    color: gold;
}

b{
    font-size:30px;
    color: gold;
    font-weight: 500px;
}

.gohome{
    text-align: left;
    float:left;
    position: absolute;
    margin: auto;
    left: 3%; 
    top:50%;
    transition: 0.6s ease;
}
.gohome a{
    background: black;
    color: gold;
    font-size: 30px; 
    border: 2px solid blue;
    font-family: sans-serif;
}

.gohome a:hover{
    background: gold;
    color:black;
    text-decoration: underline;
    text-decoration-color: blue;
}